[2015-03-10 13:57] paulirwin opened #2 "Non-PCL version of assembly?"
I attempted to add [Serializable] and ISerializable to the types and then I realized it was a PCL. Are you open to creating a second project that is a .NET 4.5 class library, referencing the same files and using #if directives for PCL vs non-PCL?

[2015-03-10 14:19] rafidka opened #4 "Improve documentation"
Thanks @mj1856 for your efforts. I just noticed that there is not enough documentation in your code. Here are some examples:

1. Constructors and methods don't have XML documentation.
2. It is not easy to tell what the meaning of day number is in MinDayNumber and MaxDayNumber. My first impression was the number of days since 0 A.D. But then why would the date be restricted to 0 A.D? What about his

[2015-03-10 14:20] rafidka commented on #4
Are you open to help or you prefer to do this yourself? In general (not just about this topic), you mentioned few things in your comment (https://github.com/dotnet/corefx/issues/700#issuecomment-77997867), can we help with those things (optimization, unit tests, documentation, etc.)?

[2015-03-10 15:16] mj1856 commented on #4
Yes.  I completly agree.  I just wanted to get what I had done out there so we could start discussing.

Please feel free to send PR with any changes you like.  Please do a separate PR for different types of things so the discussions can stay distinct.

[2015-03-10 15:19] mj1856 commented on #4
Regarding the chosen epoch - I think its important to use the same 0001-01-01 date that `DateTime` and `DateTimeOffset` use.  SQL `datetime2` is the same as well.

[2015-03-10 15:22] mj1856 commented on #2
Yeah, I saw the same thing, so I left it off for now.  Ultimately, it needs to compile under the same build as the rest of corefx/coreclr.  We should see how they have their project configuration and align to that.

[2015-03-10 15:37] rafidka commented on #4
Sure, I will send PR once I am one with my changes.

Yeah, I agree that the same epoch should be used. But then I am wondering why MinDayNumber is 0? How can we then represent dates B.C?

[2015-03-10 16:41] tarekgh opened #5 "Some comments on the code"
I posted this in the original discussion thread but it make sense to have it here

Thanks Matt for your effort. I took a quick look at the Date type and here is some notes and questions:
•does Date need to implement IConvertible interface. I think it is needed
•Date will be exactly like DateTime in term of supporting Gregorian dates only. this can be ok if this satisfy all scenarios we are introdu

[2015-03-10 16:47] paulirwin commented on #2
The CoreCLR project doesn't handle PCL at all it looks like: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/DateTime.cs

[2015-03-10 19:21] mj1856 commented on #4
IMHO, we shouldn't try to support BCE dates.  We need to align with the range and precision of existing types.

Consider if we *did* support BCE:

[code]

Alignment is important.   I'd argue that if one needs to work with BCE dates, that is another case where they should use [Noda Time](http://nodatime.org), which has a distinct concept of "eras" that can apply across the spectrum of types.

[2015-03-10 19:29] mj1856 opened #6 "Implement IConvertable?"
`DateTime` implements `IConvertible`, [as seen here](https://github.com/dotnet/coreclr/blob/1644ae12020a1927bb9b7bb7b162ba8b1e8bc73e/src/mscorlib/src/System/DateTime.cs#L1283-L1366).

Should `Date` or `TimeOfDay` also implement `IConvertible`?  If so, how?  Should it just implement `ToDateTime` with the time component set to midnight?

What is an example use case that would require `IConvertable`

[2015-03-10 19:35] paulirwin commented on #4
I agree with @mj1856. SQL Server, ANSI SQL, HTML5, and System.DateTime all use year 1 CE forward. The ISO8601 standard and xsd:date specification looks like it does support negative years for BCE, but considering the other incompatibilities I would say it's not worth the added complexity.

[2015-03-10 19:39] mj1856 opened #7 "Support additional calendars"
The `DateTime` type supports multiple calendars via `System.Globalization.Calendar` parameter option in the a constructor.  I think `Date` should offer the same level of support.

It's important also to recognize:

- A `Date` would not be bound to a specific calendar, it would just be used for conversion during construction.
- The internal day number and all individual properties would still be in

[2015-03-10 19:40] paulirwin commented on #6
:+1: for Convert.ChangeType support, which can be used if you don't know the type of the object at runtime. Since Date and TimeOfDay will be fundamental types, having Convert/IConvertible support would be good. Yes, it should just implement ToDateTime. And yes, when this becomes part of mscorlib, IConvertible should be extended to support ToDate and ToTimeOfDay, as well as methods on the System.Co

[2015-03-10 19:41] paulirwin commented on #6
Er, adding methods to IConvertable would be a massively breaking change. I take back the confidence of the last sentence of my previous comment.

[2015-03-10 19:46] mj1856 opened #8 "Support BCE dates?"
Migrating from thread in #4.

Should BCE Dates be supported?

[code]

[2015-03-10 19:47] mj1856 commented on #4
Migrated BCE Date discussion to #8.  Let's track the status of documentation (xml summary comments, etc.) in this issue thread.

[2015-03-10 19:49] mj1856 opened #9 "Internal storage format"
The `Date` type has one field:  `_dayNumber`, which is an `Int32` (`int`).

The `TimeOfDay` type has one field: `_ticks`, which is an `Int64`(`long`).

Are these the best types to use?  Is there anything more compact to consider?

Should `Date` also just store ticks even though they aren't relevant to the API?  Would there be any advantage to doing so?

[2015-03-10 19:51] mj1856 commented on #5
Spliting into separate issues for discussion.

[2015-03-10 19:53] mj1856 opened #10 "Constrain format strings"
Currently, the `ToString` methods of both `Date` and `TimeOfDay` rely on `DateTime` for all their formatting.  Because of this, it's possible to pass time formats to a date, and date formats to a time.

At minimum, we should constrain the format strings to only the formats that make sense for the type.

Preferably, we should invoke formatting directly, rather than passing through to `DateTime`.

[2015-03-10 19:55] mj1856 opened #11 "Consider removing Parse/TryParse"
Feedback from @tarekgh:

Let's discuss pros/cons.

[2015-03-10 19:56] mj1856 commented on #11
I'll argue for parity.  Since they exist on `DateTime` and `TimeSpan`, they should exist here.

Who would like to take the counter-argument?  :)

[2015-03-10 19:58] mj1856 opened #12 "Consider DateFromDateTime"
`Date.DateFromDateTime` is a private method.  It's used to strip off the time information from a `DateTime` and return it as a `Date`.

- Should it be renamed  (`FromDateTime`)
- Should it be made public?

[2015-03-10 19:59] mj1856 opened #13 "Limit range of add/subtract operations"
Feedback from @tarekgh:

Discuss pros/cons

[2015-03-10 20:00] mj1856 commented on #5
Split as follows:

- #6 - Implement IConvertible?
- #7 - Support additional calendars
- #8 - Support BCE dates?
- #9 - Internal storage format
- #10 - Constrain format strings
- #11 - Consider removing Parse/TryParse
- #12 - Consider DateFromDateTime
- #13 - Limit range of add/subtract operations

[2015-03-10 20:00] #5 closed

[2015-03-10 20:00] tarekgh commented on #11
I don't think parity is the priority compared to do right thing. you already deviated from parity for example when introduced SubtractMonths/Days.
Parse/TryParse is source of many complains and people always expect something and no necessary happen. please consider not supporting it.

[2015-03-10 20:03] mj1856 commented on #2
I must say, I'm a bit confused about this.  All the projects in corefx are PCL, but with some non-standard project configuration.  I think we'll need to align to that.  I'm still not 100% up to speed on how corefx and coreclr hook together.

I'd be glad for a PR to pull this into alignment.  I don't want to address `[Serializable]` until we figure that out.

[2015-03-10 20:06] mj1856 opened #14 "Consider using ISO8601 as the default format"
Discuss #3

Pros: Alignment to ISO-8601, and downstream types like HTML 5 date input
Cons: Not aligned to existing `DateTime` behavior

[2015-03-10 20:10] mj1856 opened #15 "Now, Today, etc. Properties or Methods?"
Discuss #1

Pros: `DateTime.Now` and `DateTime.UtcNow` already exist as properties.  People are used to them.
Cons: Lots of comments [like this one](http://stackoverflow.com/a/5438039/634824)  that consider this to be a mistake, due to the non-deterministic characteristic of time.

I know how I *feel* about this, the question is - should we conform for sake of alignment, or take the approach of co

[2015-03-10 20:12] mj1856 commented on #15
Side note - Noda Time is changing `IClock.Now` to `IClock.GetCurrentInstant()` for its upcoming version 2.0 release.

[2015-03-10 20:22] mj1856 commented on #14
I agree on the surface, but digging deeper, I'm not 100% sure.  Especially when you consider #7.

[2015-03-10 20:31] paulirwin commented on #14
IMO, if you want to deviate from an international standard, you should handle that yourself with a format string and/or culture info. That opinion out of the way, I'll grumble as I type it but I'll accept a ToIso8601String() or something similar.

[2015-03-10 21:00] mj1856 opened #16 "Consider convenience methods for formatting"
`DateTime` has convenience methods:
- `ToShortDateString`
- `ToLongDateString`
- `ToShortTimeString`
- `ToLongTimeString`

Should `Date` and `TimeOfDay` have these also?

How about also `ToISOString` to address #14 ?

[2015-03-11 02:41] rafidka commented on #15
I would recommend going for alignment, as otherwise developers will be confused when they use both DateTime and Date in the same project.

[2015-03-11 04:05] rafidka commented on #13
DateTime currently only have Add*() methods, no Subtract*() methods (apart from Subtract()), so I would go for add only to align with DateTime and reduce confusion.

[2015-03-11 04:15] rafidka opened #17 "Optimize Date and TimeOfDay classes"
Date and TimeOfDay frequently defines new DateTime and TimeSpan objects, respectively, in methods and properties like Date.AddYears(), Date.ToDateTimeAtMidnight(), TimeOfDay.Minutes, etc. This can be expensive if the user repeatedly make calls to these methods/properties. I suggest creating the required DateTime/TimeSpan objects in the constructor and storing it in a field. I understand that this

[2015-03-11 06:05] mj1856 commented on #17
Yes, optimization is necessary.  However additional fields are out of the question.

The functions just need to be decomposed into primitives.  I'll leave this issues open to track that effort.

[2015-03-11 06:32] mj1856 commented on #13
I don't think I like the idea of limiting these methods to positive values.  Otherwise I can see consumers writing ugly code like this to work around it.

[code]

I think it makes a little bit of sense that `DateTime` has a `Subtract(TimeSpan)` methods, because the alternative would be `dateTime.Add(timespan.Negate())` - which isn't as readable.  But for integers, I don't think it's too difficult

[2015-03-11 06:37] mj1856 commented on #15
@rafidka - you're probably right.  Whatever `DateTime` and `DateTimeOffset` do, we should do the same or the users will be surprised.

@tarekgh - Do you think there is any possibility to introduce a breaking change to make `Now` and `UtcNow` methods instead of properties on `DateTime` and `DateTimeOffset`?  Or is that too much to consider at this stage?

[2015-03-11 10:12] rafidka commented on #15
@mj1856 re your question to @tarekgh, just wondering, shouldn't the .NET Core be compatible with .NET Framework as much as possible, so that people can start using .NET Core instead with minimal changes? If the answer is yes, isn't changing Now to Now() going to break thousands of people's code?

[2015-03-11 10:18] rafidka commented on #16
Again, I think it should have these methods for alignment with DateTime. I am happy to have this assigned to myself if you want someone to work on it.

[2015-03-11 13:30] rafidka commented on #12
* Yes, I think it is better rename it to FromDateTime, since the the first word (Date) is already implied by the class name, so no need to repeat it.

* I don't see a similar method in DateTime struct, so if this is publicized, I think a similar method in DateTime should be publicized (or added if it doesn't exist) so that the structs align better.

[2015-03-11 13:31] rafidka commented on #4
I am happy to work on this if you want.

[2015-03-11 15:28] tarekgh commented on #15
@mj1856 taking a breaking change in DateTime is not possible now as we need to respect the app compat. but if you are introducing a new type, you may think have the right design as no worry about the app compat

[2015-03-11 15:52] paulirwin commented on #15
One way to look at DateTime.Now and related properties is (a) they're static, and (b) they return a new instance. So they don't have to be viewed the same way as instance properties. In that view, I think it makes sense that a static Date.LocalToday property would not be deterministic, whereas instance properties, particularly of a struct, IMO should always be deterministic.

[2015-03-11 16:03] rafidka commented on #15
How is being static affects determinacy?

To be honest, the more I think about it, the more I am convinced that UtcNow and the like shouldn't be a property; being a property even breaks one of the rules of the Equals method when you write DateTime.UtcNow.Equals(DateTime.UtcNow):

"x.Equals(x) returns true, except in cases that involve floating-point types." -- https://msdn.microsoft.com/en-us/libr

[2015-03-11 16:18] tarekgh commented on #15
just to reiterate, DateTime properties are not going to change because of app compat reason.
for Date type, I don't think we should have Now/UtcNow but we'll have Today (Local/UTC).
if we are going to have Time type (of TimeOfDay). we can have a parity with Date so we can have Time Now(Local/Utc)
if you feel DateTime did some mistake regarding Now, NowUtc, then fix it in the new types.

[2015-03-11 20:02] paulirwin commented on #15
As somewhat of a counter-example to what I said about instance properties, how about System.Diagnostics.Stopwatch.Elapsed? I'm not against Today or Now (on TimeOfDay) being methods, but determinacy/idempotency is not a hard and fast rule. "Getting" the value of DateTime.Now feels natural as a property since it is static and returns a new instance, and in this case, I'd vote for consistency with Da

[2015-03-11 20:35] mj1856 commented on #15
I the grand scheme of things, I think introducing these new types should feel natural for those used to the other types.  So, I'll rule on this one - we'll go for consistency.   `Date.Today`, `Date.UtcToday`, `TimeOfDay.Now`, `TimeOfDay.UtcNow`.

Should we still have methods for zone-specific values?
- `Date.TodayInZone(TimeZoneInfo)`
- `Time.NowInZone(TimeZoneInfo)`

How about adding those to exi

[2015-03-11 20:40] mj1856 commented on #15
@tarekgh - Regarding AppCompat, I assume we'll also not be able to have `DateTime.Today` return a `Date` instead of a `DateTime`?

[code]
Would it make difference if we included another implicit cast operator to compensate for the old usage?

[2015-03-11 20:44] mj1856 commented on #16
Go for it! :)

[2015-03-11 20:45] paulirwin commented on #15
I'm in favor of adding DateTime.NowInZone (although I prefer the more explicit NowInTimeZone) and its DateTimeOffset companion. Perhaps we could implement them as DateTimeEx methods here for now as a prototype?

[2015-03-11 20:46] mj1856 commented on #14
The core of the issue is alignment.  Let's do our best to keep things in the style of the existing types so they feel more natural to the current users.

Closing this in favor of having a `ToISOString` method, which will be tracked in #16.

Thanks! :)

[2015-03-11 20:46] #14 closed

[2015-03-11 20:48] mj1856 commented on #4
Feel free to work on expanding the xml comments as you see fit. Send a PR when ready for review.  We can do it a little at a time, or all at once.  Whichever you prefer.  And thanks!

[2015-03-11 21:05] mj1856 commented on #12
So here are my thoughts...

- I named it `DateFromDateTime` because all usage is coming from within the `Date` struct itself.  If it was called externally, then `Date.FromDateTime` makes a lot of sense, but internally the `Date.` part is usually not given, as it's redundant.

- I'm not sure that it would be good to have the method at all, as it silently strips away the time information.  Using it

[2015-03-11 21:05] tarekgh commented on #15
@mj1856  I think we don't need to touch DateTime and implement your library as OOB.

For raised issues like
    DateTime.NowInZone(TimeZoneInfo)
I believe you can have extension method on the TimeZoneInfo class itself and at that time it'll make more sense something like TimeZoneInfo.GetCurrentTime (or whatever name make more sense).

as discussed in the original thread and what Krzysztof Cwalina

[2015-03-11 22:24] mj1856 commented on #15
@tarekgh - sounds like you're talking about IoC, but I'm not sure how that would manifest in these scenarios, I'll give it some more thought, but I'm open to suggestions.

[2015-03-11 22:51] tarekgh commented on #15
what you mean by IoC? :-)

[2015-03-11 23:06] mj1856 commented on #15
[Inversion of Control](http://en.wikipedia.org/wiki/Inversion_of_control)

This is usually done with interfaces, but the problem is that in many cases you would have to return a concrete type.  So even if there was some `IDateTime` or similar interface(s), it would be working with `DateTime` types...

We should probably be looking deeper into the extensibility points (xml, data apis, etc.) for mis

[2015-03-11 23:06] rafidka commented on #4
I added documentation to only few members in Date structure now to get some feedback before I spend time documenting the rest. One question I have is what should the scope of documentation be? Should I aim at adding full documentation including tags like <summary>, <remarks>, <example>, or for now you think it is enough to live with simple documentation? Interestingly, it seems that not much of .N

[2015-03-11 23:09] rafidka opened #19 "Improve Test Coverage"
We need to add more unit tests for Date and TimeOfDay structures. For the Date structure, I see we are missing tests for the following members:

* Today
* TodayLocal
* TodayUtc
* AddYears
* AddMonths
* AddDays
* ToString (all of its variants)
* Parse (all of its variants)
* TryParse (all of its variants)
* TryParseExact (all of its variants)
* Equals
* CompareTo
* IsLeapYear

I didn't go through t

[2015-03-12 00:40] mj1856 commented on #4
I think you did a good amount in the PR.  I made some notes for you to address.

We want to do enough in this stage to make the API crystal clear, but we don't need to do too much more than that.  Whatever is done here will likely be rehashed if/when it gets merged into corefx.  We have no guarantees right now, we're just working together to solidify a proposal. :)

[2015-03-12 00:41] mj1856 commented on #19
Yep.  I pushed what I had so we could get started.  Thanks for adding an issue.

[2015-03-12 05:23] #13 closed

[2015-03-12 05:24] mj1856 commented on #17
Completed.  Thanks!

[2015-03-12 05:24] #17 closed

[2015-03-12 07:03] rafidka commented on #19
Great. I am happy to work on this as well if you want. By the way, sorry if the question seems silly but I just recently started contributing to .NET: how do assign a task to more than one person? Like for this issue if say both you and myself work on it?

[2015-03-12 07:44] rafidka commented on #6
I would like to work on this if nobody else is interested :-)

[2015-03-12 07:46] rafidka commented on #5
Adding more comments here:

* I noticed that in many places in the code you explicitly used 'Date' to define a variable, rather than using 'var' (type deduction). I understood from corefix documentation that we can use var var' when it is clear what the object being defined is, no?
* I think At() method should be renamed to ToDateTimeAt(), to align it with the method ToDateTimeAtMidnight(). Or, th

[2015-03-12 18:14] mj1856 commented on #19
Just go ahead and do whatever you think is important.  You don't need to wait for approval.  This is all very informal.

It will all work out in PR.  :)

[2015-03-12 18:55] mj1856 commented on #5
Feel free to use `var`.  If the coreclr/corefx team doesn't like it, they can always adjust.  Just don't go crazy replacing with `var` everywhere just because it's possible.

Agreed about the naming recommendations.  While `At` is simpler, it would be more aligned with existing conventions to use `ToDateTimeAt`.

The `year, dayOfYear` constructor I think is important, as day-of-year is often used

[2015-03-12 22:57] rafidka commented on #16
@mj1856, I sent a PR for an implementation of this. One thing I would like to mention is that because the PCL version of .NET's DateTime doesn't have these convenience methods, I ended up implementing these methods by calling the ToString() method and passing in the relevant field from CultureInfo.DateTimeFormat object. Is that OK?

Another thing is that in implementing unit tests, I cannot make a

[2015-03-13 05:11] mj1856 commented on #16
You can set the current culture so it's not ambiguous.  In fact, you might want a few tests that vary the culture so you can validate the output format changes.

[code]

[2015-03-13 16:24] tarekgh commented on #15
@mj1856 thanks Matt for clarification and thanks for your effort you put in the implementation.
I would suggest in your assembly you add extension methods and implicit cast operator to handle the listed types conversion (sql date, Xml date...etc.) this will be enough at least to make the original requested scenario to work. this doesn't mean we'll not look at System.Data, System.Xml at some point.

[2015-03-13 16:29] paulirwin commented on #15
I am not in favor of closing the issue until one of two situations happens: the System.Date type is created in the repo, or the .NET team decides that it will not implement the change. Otherwise we'll lose track of it.

[2015-03-13 16:35] tarekgh commented on #15
@paulirwin as we mentioned before, the initial implementation will be OOB as Matt is doing now. we will not add this to corefx repo. once the new OOB proven in the field as this is the right thing, at that time we'll consider adding it to the framework core. please review Krzysztof Cwalina comments which state this clearly. what is unclear in that which need to keep the issue open?

[2015-03-13 18:37] paulirwin commented on #15
I'll continue this discussion back over on corefx #700

[2015-03-15 05:20] Clockwork-Muse opened #22 "Range checks (`Between`) should be upper-bound exclusive"
Range checks, like for all positive contiguous-range types, should use an exclusive upper-bound (that is, `<`).

There's [this blog post](http://www2.sqlblog.com/blogs/aaron_bertrand/archive/2011/10/19/what-do-between-and-the-devil-have-in-common.aspx) talking about some of the problems encountered in SQL Server with an inclusive bound, but it's actually far larger than that:
The problem is inhere

[2015-03-15 05:21] Clockwork-Muse commented on #5
What's the scope of this?  I mean, is this in anticipation of a complete date/time library (support for custom calendars and internationalization, querying, etc), or just a narrow set of features?

[2015-03-15 06:29] mj1856 commented on #8
For alignment reasons stated above, closing this as out-of-scope.

[2015-03-15 06:29] #8 closed

[2015-03-15 06:41] mj1856 commented on #5
@Clockwork-Muse - We're not designing an entire date/time library, no.  The scope is currently limited to the following:

- `System.Date` - A date-only data type
- `System.TimeOfDay` - A time-only data type
- Reasonable minimal extensions to `System.DateTime`, `System.DateTimeOffset`, `System.TimeSpan` and `System.TimeZoneInfo`.

There will be some minimal interaction with `System.Globalization.Ca

[2015-03-15 06:44] mj1856 commented on #22
Completely agree, and I believe they're *already* using an exclusive upper bound.  Are you seeing something otherwise?

[2015-03-15 06:55] Clockwork-Muse commented on #22
Sorry, you're right.  Somehow I though I saw `>=` in `TimeOfDay.IsBetween(...)`.  Maybe because the conditions were opposite what I was expecting?

[2015-03-15 06:55] #22 closed

[2015-03-15 06:59] mj1856 commented on #22
Here's the implementation (annotated)

[code]

[2015-03-15 07:38] rafidka commented on #12
I understand. So I guess this should be closed then, no?

[2015-03-15 07:47] mj1856 commented on #12
Yeah, I think so.  Thanks!

[2015-03-15 07:47] #12 closed

[2015-03-15 07:54] rafidka commented on #16
Actually, I already thought of changing the culture but I couldn't, because the PCL version of the .NET you added to the project doesn't have System.Thread, i.e. the code you put above doesn't compile.

[2015-03-15 08:13] rafidka commented on #6
I tried to work on this, but I couldn't even find the IConvertible interface to implement. I am a bit confused as to why it is not there, as the MSDN documentation clearly says the interface is supported on portable .NET as well:

https://msdn.microsoft.com/en-us/library/system.iconvertible%28v=vs.110%29.aspx

Notice the last section about Version Information.

Any idea?

[2015-03-15 08:14] rafidka commented on #16
To be honest, I am not sure why I can't find System.Thread, because MSDN does say that it should be available even in portable .NET:

https://msdn.microsoft.com/en-us/library/system.threading.thread.currentculture%28v=vs.110%29.aspx

Notice the section "Version Information".

Any idea?

[2015-03-15 08:36] rafidka opened #23 "Move to corefxlab?"
Isn't corefxlab the right place for the dateandtime package?

https://github.com/dotnet/corefxlab

[2015-03-15 09:16] mj1856 commented on #23
Perhaps.  I asked @KrzysztofCwalina [on Gitter](https://gitter.im/dotnet/corefx?at=54f8d2f0e172474214a861fc) and the response was:

Let's keep working here for now.  When we're ready, I'll open a new issue on corefx and they can decide if it should go in corefx or corefxlab.

[2015-03-15 09:17] mj1856 commented on #16
Hmmm.. Same thing here.  I will investigate further.

If we have to, we can make the test projects non-portable.

[2015-03-15 12:03] rafidka commented on #16
OK, in the mean time, I will push the implementation of ToIsoString() so that I can work on other stuff while you investigate this. Once we reach a conclusion, I can go back to the tests and improve them to include testing some few different cultures.

[2015-03-16 02:19] mj1856 commented on #16
For now, I just switched to a non-portable test project.  I had to also change the profile for the main project for some reason. Not sure exactly why.

This will be temporary, but will get us through for now so we can write all the necessary unit tests.  At some point, we'll need to build out a project that will fit within the corefx project structure.

[2015-03-16 09:02] rafidka commented on #16
If this is temporary, won't we have problems building the unit tests later when/if we try to move the project to corefix?

[2015-03-21 09:10] rafidka commented on #23
Thanks @mj1856. Closing.

[2015-03-21 09:10] #23 closed

[2015-03-21 09:11] rafidka commented on #6
Any update here?

[2015-03-24 06:55] rafidka commented on #16
I will start creating branches now for the issues I am assigned to.

[2015-03-24 06:57] rafidka commented on #16
I think we can close this issue once the PR I sent is merged.

[2015-03-24 15:49] rafidka commented on #16
Thanks @mj1856 for merging PR #21. Closing this issue.

[2015-03-24 15:49] #16 closed

[2015-04-02 16:54] mj1856 commented on #9
Worth mentioning, Noda Time 2.0 moved to a bitpacked year-month-day internal representation.
https://github.com/nodatime/nodatime/blob/master/src/NodaTime/YearMonthDay.cs

[2015-04-02 16:58] mj1856 commented on #2
@tarekgh - Any advice here?  CoreFx stuff is PCL, but the existing `DateTime` struct is in CoreClr, which isn't PCL.  If our work here will go OOB, wouldn't it all need to be PCL, and then how would we support `[Serializable]`, `[IConvertable]`, etc. ?

Also, we had to make our unit tests non-PCL in order to be able to *set* the current culture during the test.  Is there a workaround for that?

Th

[2015-04-03 01:17] tarekgh commented on #2
Hi @mj1856, for serialization we can use data contract instead. this should good for this library. eventually if we need to bring this library to the core we'll may need to change that again as we cannot depend on data contract in the core.
For IConvertable, it is added to the new PCL support but talking to some people, it is not really recommended anymore. so you can just not support it and we ca

[2015-04-03 05:20] mj1856 commented on #2
@tarekgh  - Thanks!

[2015-04-22 04:01] #15 closed

[2015-04-22 04:50] #7 closed

[2015-04-22 05:03] mj1856 commented on #9
Looking at [SQL Server](https://msdn.microsoft.com/en-us/library/ms186724.aspx) - it should be possible to pack `Date` into 3 bytes (instead of 4), and `TimeOfDay` into 5 bytes (instead of 8).

However, I'm not sure this would be worthwhile.  See [this comment](http://stackoverflow.com/a/445764/634824), which argues that using 3 bytes wouldn't have much advantage due to 32-bit (4 byte) registers.

[2015-04-22 06:54] mj1856 commented on #10
Fixed.  All format strings now are filtered to just those types allowed for their respective types.

Also made some concessions for some of the standard types:

- For `Date`, `O`, `o`, and `s` will all format as ISO8601 dates (`yyyy-MM-dd`)

- For `TimeOfDay`, `O` and `o` will format as `HH:mm:ss.fffffff`, while `s` will format as `HH:mm:ss`.

[2015-04-22 06:55] #10 closed

[2015-04-24 04:42] mj1856 commented on #11
Considering the position taken in other issues like #13, I'd rather leave the parsing methods intact at this time.  Thanks.

[2015-04-24 04:42] #11 closed

[2015-04-24 04:46] mj1856 commented on #6
Per Tarek's comment [here](https://github.com/mj1856/corefx-dateandtime/issues/2#issuecomment-89106354) we do not need to support `IConvertible`.

[2015-04-24 04:46] #6 closed

[2015-04-24 04:48] mj1856 opened #27 "Support Serialization"
Per Tarek's comment [here](https://github.com/mj1856/corefx-dateandtime/issues/2#issuecomment-89106354) we should implement `DataContract` on the new types.

[2015-04-24 04:48] #2 closed

[2015-04-28 01:25] mj1856 commented on #27
Added in 27166e.

[2015-04-28 01:27] #27 closed

[2015-04-28 01:33] #9 closed

[2015-04-28 01:38] mj1856 opened #28 "Use case examples"
We need example use cases for scenarios that can benefit from the new `Date` and `TimeOfDay` types.  Specifically, I'm thinking of:

- Sending data to/from SQL Server `date` and `time` types via ADO.NET  (Not EF at this time)
- Calculations that might have been erroneous with `DateTime` due to DST
- Range of time over midnight that would have been difficult with `DateTime`
- Parsing / Formatting o

[2015-04-28 15:56] tarekgh commented on #27
For now it is ok to implement IXmlSerializable. but if we need to have this in the future in coreclr, it'll depend on which contract will belong to. if we need it in System.Runtime then this will not work (even will not work with DataContract as System.Runtime cannot depend on System.Xml.XmlSerializer. but if we put it in another layer that will be ok. anyway we can figure this out when we need to

[2015-04-28 16:22] mj1856 commented on #27
@tarekgh  - Ok.  I'll leave it as-is for now.  The current plan is to complete this as a PCL, then your team can decide whether to keep it OOB or merge it in, making adjustments as necessary.  Thanks!

[2015-04-28 16:37] tarekgh commented on #27
we need to let the people start using your OOB so we can have idea if we need to bring this functionality to the core. as we said before we need to have it proven in the field and then bring it to the core.
thanks again for your dedication to get this done. I this this will help the community.

[2015-05-04 21:19] mj1856 commented on #4
I've started fleshing out the remaining documentation.  Will be adding more over the next week or so.  Feel free to jump in if you like.

WRT my Mar 11 comment above, I think we are stable enough now for summary, params, exceptions, return, and *some* remarks for important tidbits.

[2015-05-04 21:20] mj1856 commented on #19
I've added a bunch of tests.  More to come. :)

[2015-05-07 20:49] mj1856 opened #29 "VB.Net usage of Date type"
Since VB has its own `Date` keyword as part of the language, and this is mapped explicitly to `System.DateTime`, we need to document what workarounds are required to use `System.Date` in a VB.Net project.

This assumes no new language changes.   It's conceivable at some point in the future that an `Option` flag could be added to the language to disable the built-in mapping, but for now we'll assum

[2015-05-07 23:07] mj1856 commented on #29
As I thought... because we define the type as `System.Date`, it seems to be impossible to use it from VB.Net.

By default  `Date` is treated as `System.DateTime` due to the language keyword mapping:
[code]

We can escape the keyword:
[code]

But then we get the compiler error:

I can think of two changes that would fix the problem, neither of which I particularly like:
- We could change the type n

[2015-05-08 13:37] paulirwin commented on #29
Agreed that neither are good options, but of those, I'd vote for using CalendarDate.

[2015-05-08 17:01] mj1856 commented on #28
Note that OData has a direct need for `Date` and `TimeOfDay` types to support `Edm.Date` and `Edm.TimeOfDay` which were added in OData V5.5.

These have already been implemented as [`Microsoft.Odata.Edm.Library.TimeOfDay`](https://github.com/OData/odata.net/blob/master/src/Microsoft.OData.Edm/Library/TimeOfDay.cs) and  [`Microsoft.Odata.Edm.Library.Date`](https://github.com/OData/odata.net/blob/ma

[2015-05-08 18:41] gafter commented on #29
You wrote

[code]
But then we get the compiler error:
[code]

I think you did something wrong. That works for me. I suspect you have two different definitions of `System.Date` among your set of referenced assemblies.

[2015-05-08 19:15] mj1856 commented on #29
Interestingly, it works just fine when compiled from VS2015, but not when compiled from VS2013.

Did we stumble upon a difference with the Roslyn vs traditional compilers?

I think if it works in 2015, that should be good enough for .NET Core, right?

[2015-05-14 18:26] mj1856 opened #30 "Make TimeOfDay comparable"
From a strict modeling perspective, it doesn't make sense for `TimeOfDay` to be comparable when you think about time on a 24 hour clock.  Since two hours after 23:00 is 01:00, then who's to say that 23:00 is the greater value?

However, in the real world, I think that there will be many scenarios that will require comparison.  For example, expressing a LINQ or OData query.  For these usages, it wi

[2015-05-14 18:28] mj1856 commented on #28
Thinking through this a bit more, and due to use cases like the OData one, we will need to implement `IComparable`.  See #30

[2015-05-14 18:49] mj1856 commented on #30
Completed in 24324f1f0970bf75abf9701eb3dde4db02e2a574

[2015-05-14 18:49] #30 closed

[2015-05-25 02:05] mj1856 commented on #4
All public methods (and most private ones) are now documented.

[2015-05-25 02:05] #4 closed

[2015-05-26 23:19] mj1856 commented on #29
@gafter - Any idea why `[Date]` works with VS2015 but not VS2013?

[2015-06-25 02:16] ashmind opened #31 "Mockable Today/Now"
I suggest something like this:
[code]
and using it in various `Date.Today` and `TimeOfDay.Now` calls.

This would allow simple mocking of the Today/Now without wrapping it in custom mockable service (which might be an overkill for simple apps).

[2015-06-25 02:20] ashmind opened #32 "TimeOfDay => Time ?"
Name `TimeOfDay`, while accurate, feels a bit over-complicated for a fundamental system type.
I suggest just `Time`.

After all, SQL Server just names it `time`, type `DateTime` means `Date`+`Time`, etc.

[2015-06-25 03:07] mj1856 commented on #32
There are two motivations for that.

1. To clearly distinguish from `TimeSpan`
2. To prevent naming conflicts with a possible `System.Time` namespace

1 applies still, but I'm not sure that 2 will matter.  It's still possible there could be a `System.Time` nuget package, but likely it will just use the `System` namespace.

[2015-06-25 03:57] mj1856 commented on #32
Sorry, didn't mean that to sound definitive.  I'll keep this open so other folks can chime in.  In the end though it will likely be someone from the core framework team that makes the final decision.

[2015-06-25 04:07] mj1856 commented on #31
Mock the clock!  :smile:

Yes, there are a few opportunities for that.  Though I'd probably want it to hook into all of the new and existing `.Now` and .`Today` properties, and probably it would make sense to limit the number of functions one would have to write instead of mocking each method separately.

Also we might consider a way to set the "local" time zone explicitly, rather than it always c

[2015-06-25 04:13] mj1856 commented on #29
No answer, ok.

Perhaps @ljw1004 might have an idea?  Specifically, I'm wondering what's different about the Roslyn-based VB compiler that allows `Dim d As [Date]` to work with the `System.Date` type in this library, while the old compiler gets stuck on the `Date` to `System.DateTime` alias mapping as a duplicate definition.

Can I count on it continuing to work?  Or is it working by accident due

[2015-06-25 04:17] mj1856 commented on #29
See https://github.com/mj1856/corefx-dateandtime/blob/vb/System.DateAndTime.VBTests/VisualBasicUsageTest.vb

[2015-06-25 04:36] ashmind commented on #32
Hmm, do you means the `Days` part of `TimeSpan` that isn't relevant to `Time`?
Because for spans < 1 day relationship between `Time` and `TimeSpan` is pretty clear.

It even makes sense to have `operator -` on `Time` that returns `TimeSpan`.

[2015-06-25 04:40] ashmind commented on #31
Sure. However the thread-safe mock might be a separate package (e.g. something using CallContext). And while it is nice to have thread-safe tests, having at least *some* easy way to test would be great.

I know and that's what we use normally, however it is a hassle for small projects and with legacy code -- so it would be good if framework provided at least a basic way.

[2015-06-25 04:59] mj1856 commented on #32
Fundamentally, they are different.  `TimeSpan` is for elapsed durations of time.  They can be >= 24 hours, and they can be negative to represent moving backwards on a time line (ex: "3 hours ago").

`TimeOfDay` represents a fixed position on a 24-hour clock.  In addition to the range requirements, it's modeled as a circular clock with regard to arithmetic (two hours past 23:00 is 01:00).

There's

[2015-06-25 05:05] mj1856 commented on #32
WRT the subtraction operator, I have one for `TimeOfDay - TimeSpan = TimeOfDay`, but I didn't yet create one for `TimeOfDay - TimeOfDay = TimeSpan`.  I did add a [`CalculateDuration`](https://github.com/mj1856/corefx-dateandtime/blob/12a791eba56e12f538b116134aec27b98e5d326e/System.DateAndTime/TimeOfDay.cs#L419-L430) method though.

I suppose a subtraction operator would be ok, since order-of-opera

[2015-06-25 05:14] ashmind commented on #32
Interesting. Is there a use case for those other than in formatting?

Why not -1h? Negative `TimeSpan` seems more intuitive here.
If one event happened at 2:00 and other at 1:00 within one day (and having two times in calculation implies same day to me), second would be earlier than first by an hour, not later by 23.

[2015-06-25 05:16] mj1856 opened #33 "TimeOfDay subtraction"
This is too wordy:

[code]

It can be simplified as
[code]
and also
[code]

Since subtraction is a [noncommutative operation](https://en.wikipedia.org/wiki/Commutative_property), this works just fine.  However, since we loop over midnight, recognize that while `02:00 - 01:00 == 1 hour`, the inverse would be `01:00 - 02:00 == 23 hours`

[2015-06-25 05:20] mj1856 commented on #32
Wrote this up as #33.

Not necessarily.  Remember, this is a 24-hour circular clock.  There's no associated date.  If you pick two points on the clock and ask for the duration between them, it's always going to calculate in a clockwise motion.

[2015-06-25 05:22] mj1856 commented on #32
It's more intuative if you think about values that cross midnight, such as `02:00 - 22:00 = 4 hours`.  This happens in real-world scenarios when employees work night shifts.

[2015-06-25 05:23] ashmind commented on #33
I understand the logic as it is here, but I don't quite understand the reasoning. Why can't it calculate assuming it is the same day?

[2015-06-25 05:28] ashmind commented on #33
That's a fair point. Though without date it could just as well be 28h.
Maybe not for a shift of course, but still feels a bit weird.

[2015-06-25 05:41] mj1856 commented on #33
Lol.  Yes, it could be 28h.  But if we went the other way, it could also be -20h or -44h, etc.  :smile:

Thus, we need some rules to avoid ambiguity.  The rules I've chosen are to always will move clockwise, and will stop at the first match encountered.  Since time moves forward (for most people), I think this makes sense.
![image](https://cloud.githubusercontent.com/assets/1396388/8347987/1bf20f2

[2015-06-25 23:12] ljw1004 commented on #29
Roslyn is doing the right thing and you can count in it continuing to work. It's hard to imagine what the VS2013 VB compiler is thinking here.

I don't believe the old compiler gets stuck on `Date == System.DateTime` alias: for if you remove the reference to your PCL which defines your date class, then the VS2013 VB compiler correctly treats `[Date]` as an *error* rather than a successful referenc

[2015-06-26 01:38] mj1856 commented on #29
Cool.  Thanks for looking into it.  I appreciate your insight!

[2015-06-26 01:38] #29 closed

[2015-07-01 23:43] mj1856 opened #34 "Consider how to advance across a DST transition"
There's currently no clean way to advance a `DateTime` or a `DateTimeOffset` across a DST transition and end up in the right place.  Either time will be off, or offset, or both.

A `DateTimeZoned` type would be one way to handle this.

Another way would be via method overloads that take a time zone, such as in the following example:

[code]

This would be clear for `DateTimeOffset`, it's not as cl

[2015-07-01 23:53] mj1856 commented on #34
I suppose this could also be written as any of the following:

[code]

Please vote by number of which feels most natural to you.  Thanks.

[2015-07-02 01:42] HaloFour commented on #34
Given the choices I kind of prefer the extension method off of `DateTimeOffset`.  What exactly would happen if the offset doesn't match that of the `TimeZoneInfo`, though?  Or if the time and offset represents a time that wouldn't be legal in that time zone due to a DST transition?

The `DateTime.Utc` question is an interesting one.  Would the value be converted to the specified time zone, then ch

[2015-07-02 03:46] mj1856 commented on #34
Moving ahead with the first option for now.  I can change it later if we decide to go that route.  See #35  for implementation (in progress).

[2015-07-02 03:47] mj1856 commented on #34
@HaloFour - for now, I'll focus on the `DateTimeOffset` ones, since there are fewer questions there.  We can add them for `DateTime` if we can figure out how we want to handle the various issues.

[2015-07-02 04:02] mj1856 commented on #34
After implementing the basic methods, I realized that it's not that much more work to allow for user-defined "resolvers", similar to Noda Time's `ZoneLocalMappingResolvers`.

This is advantageous because it lets us define a default behavior for dealing with gaps and overlaps without locking the user down to a single behaviior.

See the PR for the implementation.

[2015-07-02 04:37] mj1856 commented on #34
@HaloFour to answer your questions:

There's a difference between the date-centric methods (`AddYears`, `AddMonths`, `AddDays`) and the time-centric methods (`AddHours`, `AddMinutes`, `AddSeconds`, `AddMilliseconds`, `AddTicks`, `Add(TimeSpan)`, `Subtract(TimeSpan)`).

With the time-centric methods, it wouldn't matter if the offset matched or not.  Essentially, it would have the same result as if

[2015-07-02 04:47] mj1856 commented on #34
Continuing the rest of the questions:

If the input time isn't valid, that's ok because it's adjusted as described earlier.  If the output time isn't valid, or is ambiguous, that's when the resolver has value.  The default resolver uses the same behavior as Java 8, and as Noda Time 2.0  (Noda Time 1.x had a different default behavior.  See "Lenient resolver changes" at the bottom of [this document

[2015-07-02 05:51] mj1856 commented on #34
Ok, I went ahead and added what I think is the correct implementation for `DateTime` to the PR.  Please let me know your thoughts.  Thanks.

[2015-07-02 07:10] jodastephen commented on #33
JSR-310 and Joda-Time support negative amounts of time and calculate within the bounds of the day. So the result is always -24 hours > result > +24 hours. Given that `TimeSpan` also supports negative values, this is the correct approach IMO.

[2015-07-02 07:48] Clockwork-Muse commented on #34
Just adding a note to document this currently leaves `System.Globalization.Calendar` and subclasses out in the cold.  May not be something we need to worry about, and this use case is covered by NodaTime, too.

[2015-07-02 17:16] mj1856 commented on #34
@Clockwork-Muse - That's interesting when thinking about moving by months or years, since those are very-much specific to calendar.

[2015-07-02 17:21] mj1856 commented on #34
The [methods on `System.Calendar`](https://msdn.microsoft.com/en-us/library/system.globalization.calendar_methods.aspx) handle this, but it might be worthwhile to extend them via extension methods.  Alternatively, we could continue to expand the extensions for `DateTime` and `DateTimeOffset` to take `Calendar` parameters.   Perhaps we should do both?

[2015-07-02 17:33] mj1856 commented on #33
@jodastephen - to clarify, are you saying that the *current implementation* is correct?

[code]

Or are you suggesting that the result should go negative instead?

[code]

[2015-07-02 17:34] jodastephen commented on #33
Imagine putting the same date in front of each. What answer would you get? (-22 hours)

[2015-07-02 18:04] mj1856 commented on #33
Sure, but here there is no date... :smile:

Consider usage scenarios.  Example: daily business hours of restaurants, bars, theaters.  If it's a schedule for a particular week, then `DateTime` fine.  But if it's a recurring rule - then the date has to drop off.  Since we don't allow for more than 24 hours in a day (and shouldn't), then one couldn't easily represent a range of values that crosses mi

[2015-07-02 21:43] mj1856 commented on #34
Merged the PR and closing this for now.  We'll pick up the conversation after the migration to corefxlabs.  We can either continue down this path, or backtrack if so decided.  Thanks!

[2015-07-02 21:43] #34 closed

[2015-07-03 04:27] ashmind commented on #33
I think negative should be the _default_, but no reason not to provide a different calculation as well.
E.g. default `-` gives negative, but corresponding `Subtract` method could have a `TimeSubstraction` enum to allow a different option.

[2015-07-03 14:57] jodastephen commented on #33
With date and time, it is important to keep each concept separate. The rule in JSR-310/Joda-Time is simple - both times are considered to be attached to the same invisible date, thus negatives result.

Any user that wants behaviour to do with time over midnight needs to manage that themselves, its not up to a core library to make that use case assumption.

FWIW, I think that this operator overload

[2015-07-03 18:56] mj1856 commented on #33
I originally had this as `TimeOfDay.CalculateDuration`.  However I noticed that both `DateTime` and `DateTimeOffset` already have implemented a subtraction operator which returns a `TimeSpan`, without a corresponding addition operator.   Therefore, I consider that an established .NET Framework idiom, and thought we should snap to it.

Consider also that many other methods in this type already have

[2015-07-03 18:57] #32 closed

[2015-07-03 23:06] mj1856 commented on #31
We can consider including `IClock`, `SystemClock` and `FakeClock`, but there's just not a good pattern for wiring these up to `DateTime.Now` and similar properties.  The best we could do is to include a Roslyn Analyzer warning to recommend pulling the time from a clock instead of directly.  We're going to write a handful of analyzers, so this could be included.

I'm closing this for now, but will

[2015-07-03 23:06] #31 closed

[2015-07-03 23:06] mj1856 commented on #19
Will add more after move to corefxlab

[2015-07-03 23:06] #19 closed

[2015-07-03 23:06] mj1856 commented on #28
Will do this after move to corefxlab

[2015-07-03 23:06] #28 closed

[2015-07-06 22:58] #33 closed